<html>
<head>
    <style>
      #include("src/main/resources/templates/style.css")
    </style>
</head>
    <body>
    <p>Bonjour Monsieur $firstName,<br /><br />Je vous presente tous nos voeux pour lannee 2o2o.<br /> Veuillez trouver ci-joint les CVs de nos consultants disponibles prochainement.</p>
    <table border="1" cellspacing="3" cellpadding="0">
        <tbody>
        <tr>
            <th>Initiales</th>
            <th>Disponibilit&eacute;</th>
            <th>Exp&eacute;rience</th>
            <th>Domaines de comp&eacute;tences</th>
        </tr>
        <tr>
            <td>AJ</td>
            <td>20/01/2020</td>
            <td>4,5 ans</td>
            <td>Back-end Java JEE | MicroServices ; Spring Boot ; Jhipster ; Angular 8,</td>
        </tr>
        <tr>
            <td>MT</td>
            <td>20/01/2020</td>
            <td>7,5 ans</td>
            <td>FullStack Java JEE | React, Redux, Spring (MVC, Web, WS, Batch, WebSocket) ; Python</td>
        </tr>
        </tbody>
    </table>
    <p>Je serai ravi de vous rencontrer, vous ou une personne de vos &eacute;quipes, afin de vous pr&eacute;senter nos activit&eacute;s.<br /><br /> Si ces CVs ne correspondent pas &agrave; vos recherches, n&rsquo;h&eacute;sitez pas &agrave; me le faire savoir et/ou &agrave; me rediriger si vous le voulez bien.<br /> Nous sommes une soci&eacute;t&eacute; sp&eacute;cialis&eacute;e autour des technologies OpenSource et domaines suivants :</p>
    <ul>
        <li>Microservices (Java/EE Backend et Fullstack)</li>
        <li>DevOps (ou DevSecOps)</li>
        <li>Data &ndash; IA &ndash; Machine Learning</li>
        <li>Cloud (AWS- GCP-OpenStack)</li>
    </ul>
    <p>Je vous remercie et me tiens &agrave; votre disposition pour tout compl&eacute;ment d&rsquo;information.<br /><br /> Cordialement,</p>
    </body>
</html>

